
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  z-index:900;
  overflow:auto;
}

.embed-container {
  position: relative;

  overflow:auto;

}

.embed-container iframe {
  position: relative;
  top: 0;
  left: 0;
  font-size:3px;
  width: 600px;
  height: 600px;
  overflow:auto;
}