
/* Flex box management*/
.flex-item-col-right{
  flex: 2;
  height:100%;
}
.flex-infobox-redirects{
  justify-content:center;

}
.flex-infobox-redirects-container{
  justify-content:space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.flex-infobox-redirects-container svg{
  height : 100%;
  width: 100%;
}

.flex-infobox-item{
}


.flex-item-col-left{
  justify-content:right;
  flex:1;
}
.flex-container{
  padding: 20px;
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

/* Multi-Use Classes*/
.fullscreen-section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section coloration */

#Opener{
  background-color:#FF9933;
}

#About{
  background-color:#6699CC;
}

#Philosophy{

  background-color:#336699;
}
#Resume{


}
#Projects{
  background-color:black;
  color: white;
}
/* Media query for breakpoint */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
.flex-infobox-redirects-container{
    justify-content:space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex-item-col-right{
    padding-top:10px;
    justify-content: center;
  }
}