.flex-item-col-right{
  flex: 2;
  height:100%;
}
.flex-infobox-redirects{
  justify-content:center;

}
.flex-infobox-redirects-container{
  justify-content:space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dfe5ed;
}
.flex-infobox-redirects-container svg{
  height : 100%;
  width: 100%;
}

.flex-infobox-item{
}


.flex-item-col-left{
  justify-content:right;
  flex:1;
}
.flex-container{
  padding: 20px;
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 background-color: #dfe5ed;
}


/* Media query for breakpoint */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item-col-right{
    padding-top:10px;
    justify-content: center;
  }
}