<div class="project-container grid grid-cols-12 py-40">

  <div class="p-10 col-span-4">
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-200">
<!--      <img class="flex justify-center w-full" src="/" alt="tag">-->
          <div class="flex justify-center"> In Dev!</div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">IoT Project</div>
        <p class="text-gray-700 text-base">
          I am using esp32 to automate tasks around the house
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 bg-slate-400">#IoT</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 bg-slate-400">#MicroControler</span>
      </div>
    </div>
  </div>

  <div class="p-10 col-span-4">
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-200">
      <!--      img?>-->
      <div class="flex justify-center"> In Dev!</div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Card Game</div>
        <p class="text-gray-700 text-base">
          I am working with of 3 with various new technologies to create a card game in unity3D
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 bg-slate-400">#GameDev</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 bg-slate-400">#Team</span>
      </div>
    </div>
  </div>


  <div class="p-10 col-span-4">
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-200">
      <div class="flex justify-center"> Idea Generation!</div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">New Project?</div>
        <p class="text-gray-700 text-base">
          Thinking about starting a new project once IoT is completed related to arduino
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">

      </div>
    </div>
  </div>


</div>
