Example

  /* The background color is set to green */
body {
  background-color: lightgreen;
}

/* When a screen is 992px or smaller, the background color will be pink */
@media screen and (max-width: 992px) {
  body {
    background-color: pink;
  }
}

/* When a screen is 600px or smaller, the background color will be blue */
@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
