
/* Classes */
.stickyNav{
  position: fixed;
  top:0;
  width: 100vw;
  height:6vh;
}

.navflex-container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  font-size: 15px;
  z-index:1;
  background-color:black;
}

.stickyBanner{
  position:fixed;
  width:100%;
  margin-top:6vh;
}

.banner{
  z-index:1;
  margin-top:0;
  color:white;
  background-color:grey;
}

.banner-flex-container{
  display:flex;
  justify-content:center;
  font-size: 14px;

}

.banner-flex-container button{
  margin-left:auto;
  margin-right: 10px;
  color:white;
  transform: rotate(45deg);
  font-size:1.5em;
}

.banner-content-message{
  margin-top:20px;
  position:absolute;
  text-align:center;

}
.banner-content-message a{
  color:yellow;
}
.banner-content-message a:hover{
  color:blue;
}

.footer{
  background-color:black;
}

/* Ids */
#NavigationBar{
  width:100vw;
}



/* Change the wrap to be a button dropdown and enable then allow for col section */

/* Media query for breakpoint */
@media screen and (max-width: 768px) {


  .banner-flex-container button{
      margin-left:auto;
      color:white;
      transform: rotate(45deg);
      font-size:1.5em;
    }
  .banner-content-message{
      margin:auto;
      position:relative;
    }
}