

<nav class="bg-gray-800" id="NavigationBar">

  <div class="flex justify-center">
    <button class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded" routerLink="/landing">
      Home
    </button>
    <button class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded" routerLink="projects">
      Projects
    </button>
    <button class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded" routerLink="philosophy">
      Philosophy
    </button>
    <button class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded" routerLink="resume">
      Resume
    </button>
  </div>
</nav>
  <main class="mb-auto">
  <router-outlet></router-outlet>
  </main>
<footer class="bg-gray-800">
  <div class="flex justify-center">
      <div class="inline-block text-white text-center bg px-2 py-2 m-2">
        <h2>Current Location</h2>
        <p>Austin, Texas</p>
      </div>

      <div class="inline-block text-white text-center px-4 py-2 m-2">
        <h2>Contact</h2>
        <p>+1 (925) 421-3735</p>
      </div>
  </div>
</footer>
