

<nav class="bg-gray-800" id="NavigationBar">
  <div class="navflex-container" >
    <button (click)="scroll('Opener')" class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded">
      Home
    </button>
     <button (click)="scroll('About')" class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded">
      About
    </button>
     <button (click)="scroll('Philosophy')" class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded">
      Philosophy
    </button>
     <button (click)="scroll('Resume')" class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded">
      Resume
    </button>
    <button (click)="scroll('Projects')" class="hover:bg-gray-900 text-white font-bold py-4 px-4 rounded">
      Projects
    </button>
  </div>
</nav>
<!-- End Nav -->
  <main class="mb-auto">
  <router-outlet></router-outlet>
  </main>
<footer class="bg-gray-800">
  <div class="flex justify-center">
      <div class="inline-block text-white text-center bg px-2 py-2 m-2">
        <h2>Current Location</h2>
        <p>Austin, Texas</p>
      </div>

      <div class="inline-block text-white text-center px-4 py-2 m-2">
        <h2>Contact</h2>
        <p>+1 (925) 421-3735</p>
      </div>
  </div>
</footer>
